settings.host = 'http://tt.tt'
settings.receive_email = '*****@qq.com'
settings.email_account = '*****@qq.com'
settings.email_password = '*****'
settings.email_stmp_address = 'smtp.qq.com'
settings.email_stmp_port = '587'
settings.sms_username = '*****'
settings.sms_password = '*****'
settings.yunpian_key = 'xxxxxx'
settings.apiKey = 'xxxxxx'
settings.apiSecret = 'xxxxxx'
